[Unit]
Description=Hypridle (idle daemon for Hyprland)
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""
ExecStart=/usr/bin/hypridle
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
